<div th:replace="layout/layout :: defaultPreload"></div>
<div th:replace="layout/layout :: preload"></div>

<div class="clearfix"></div>
<div class="row mt-3">
	<div class="col-md-12 col-sm-12 ">
		<div class="x_panel">
			<div class="x_title">
				<h2>Usuarios</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="row">
					<div class="col-sm-12" align="right"><button type="button" class="btn btn-round btn-sm btn-success"
							onclick="showModalUser()"><i class="fa-solid fa-user-plus"></i> Crear
							usuario</button></div>
				</div>
				<div class="table-responsive mt-5">
					<table class="table table-hover" id="tableUsuarios">
						<thead>
							<tr class="headerTableI" style='background-color: #fff;'>
								<th>Nombre Usuario</th>
								<th>User Name</th>
								<th>Perfil</th>
								<th align="center">Estatus</th>
								<th align="center">Editar</th>
							</tr>
						</thead>
						<tfoot>
							<tr class="headerTableI" style='background-color: #fff;'>
								<th>Nombre Usuario</th>
								<th>User Name</th>
								<th>Perfil</th>
								<th align="center">Estatus</th>
								<th align="center">Editar</th>
							</tr>
						</tfoot>
					</table>
					<input type="hidden" id="url">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="newUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Crear usuario</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formUser">
					<div class="row">
						<div class="col-md-4">
							<input type="hidden" id="uuid" name="uuid" th:field="*{newUser.uuid}" />
							<label class="txt_n" for="perfil"><span class="required">*</span>
								Perfil</label><select class="form-control" id="perfil" name="perfil"
								required="required" th:field="*{newUser.perfil.idPerfil}">
								<option disabled="disabled" value="0" selected="selected">Seleccione...</option>
								<option th:each="perfil: ${lstPerfilUsuario}" th:value="${perfil.idPerfil}"
									th:text="${perfil.descripcion}">
							</select>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-4">
							<label class="txt_n" for="nombre"><span class="required">*</span>
								Nombre</label> <input type="text" id="nombre" name="nombre" class="form-control"
								placeholder="Nombre..." onblur="validarInput(this)" required="required" th:field="*{newUser.nombre}" />
						</div>
						<div class="col-md-4">
							<label class="txt_n" for="paterno"><span class="required">*</span>
								Ap. Paterno</label> <input type="text" id="paterno" name="materno" class="form-control"
								placeholder="Apellido paterno..." onblur="validarInput(this)" required="required" th:field="*{newUser.paterno}"/>
						</div>
						<div class="col-md-4">
							<label class="txt_n" for="materno"><span class="required">*</span>
								Ap. Materno</label> <input type="text" id="materno" name="materno" class="form-control"
								placeholder="Apellido materno..." onblur="validarInput(this)" required="required" th:field="*{newUser.materno}"/>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-4">
							<label class="txt_n" for="user-name"><span class="required">*</span>
								User Name</label> <input type="text" id="user-name" name="user-name"
								class="form-control" placeholder="User name..." onblur="validarInput(this)"
								required="required" th:field="*{newUser.username}"/>
						</div>
						<div class="col-md-4">
							<label class="txt_n" for="contrasena"><span class="required">*</span>
								Contraseña</label> <input type="password" id="contrasena" name="contrasena"
								class="form-control" placeholder="Contraseña..." onblur="validarInput(this)"
								required="required"  th:field="*{newUser.password}"/>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-success" id="btnSaveUser">Guardar</button>
			</div>
		</div>
	</div>
</div>


<script th:inline="javascript">
	document.getElementById("url").value = /*[[@{/}]]*/'default';
</script>
<script type="text/javascript" th:src="@{/js/user/dataUsers.js}"></script>
<script type="text/javascript" th:src="@{/js/validador/validarInputs.js}"></script>